.menu-item{
    border: 2px solid salmon;
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.menu-item .submenu{
    height: 40px;
    width: 120px;
    background: greenyellow;
    position: absolute;
    cursor: pointer;
}